.cards {
  margin-top: 36px;
  display: grid;
  padding: 0 19px;
  gap: 20px;
  justify-content: center;
}
.card {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.card__image {
  width: 100%;
  height: 282px;
  object-fit: cover;
}

.card__text {
  color: black;
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-between;
  padding: 20px 21px 31px 21px;
  align-items: center;
}
.card__like {
  border: none;
  background-color: transparent;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.card__like:hover {
  opacity: 0.5;
}

.card__like-button-heart_active {
  background-image: url(../images/filled-heart.png);
  background-position: auto;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card__like-button-heart_active:hover {
  opacity: 0.5;
}

.card__text-paragraph {
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .cards {
    padding: 0;
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 880px;
    justify-content: center;
    grid-template-columns: repeat(2, 282px);
  }
  .card__like {
    cursor: pointer;
  }
  .card__like-image:hover {
    opacity: 0.6;
    fill: black;
  }
}

@media screen and (min-width: 1024px) {
  .cards {
    margin: 50px auto 0 auto;
    width: 100%;
    max-width: 880px;
    justify-content: center;
    grid-template-columns: repeat(3, 282px);
  }
}
