.cards {
  margin-top: 36px;
  display: grid;
  padding: 0 19px;
  gap: 20px;
}
.card {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  color: white;
  text-align: center;
}

.card__image {
  width: 100%;
  /* display: block; */
  object-fit: cover;
}

.card__text-image {
}
