.cards {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 18px;
  background-color: green;
}
.card {
  width: 282px;
  height: 361px;
  background-color: aqua;
}
