.footer {
  background-color: black;
  width: 100%;
}

.footer__content {
  max-width: 880px;
  margin: 0 auto;
  padding: 50px 19px 36px 19px;
  color: #545454;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer__content {
    padding-bottom: 60px;
    margin-top: 67px;
  }
}

@media screen and (min-width: 1024px) {
  .footer__content {
    padding-left: 0;
    padding-right: 0;
  }
}
