.form {
  padding: 25px 22px;
  width: 100%;
  background-color: white;
  opacity: none;
  display: flex;
  justify-content: right;
  align-items: right;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
}

.form__title {
  font-size: 24px;
  font-weight: 900;
}

.form__close-button {
  width: 26px;
  height: 26px;
  transform: rotate(45deg);
  position: absolute;
  top: -45px;
  right: 0px;
}
.form__input {
  width: 100%;
  height: 26px;
  padding: 20px 0;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid rgba(00, 00, 00, 0.2);
}

.form__input-name {
  margin-top: 50px;
}

.form__input-type {
  margin-top: 10px;
}

.form__input:focus {
  outline: none;
}

.form__submit-button {
  width: 100%;
  margin-top: 32px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
}

.form__submit-button:disabled {
  background-color: transparent;
  opacity: 0.2;
  color: black;
  border: 1px solid black;
  cursor: not-allowed;
}

.form__submit-button:hover:disabled {
  opacity: 0.2;
}

.form__input_type:invalid {
  border-bottom-color: red;
}

.form__input_type_error {
  border-bottom-color: red;
}

.form__input-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .form {
    width: 100%;
    max-width: 430px;
  }

  .form__submit-button {
    cursor: pointer;
  }
  .form__submit-button:hover {
    opacity: 0.8;
  }

  .form__close-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
  }
  .form__close-button:hover {
    opacity: 0.6;
  }
}
