.fullscreen__container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  position: relative;
}

.fullscreen__delete-button {
  position: absolute;
  top: -30px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
  transform: rotate(45deg);
}
.fullscreen__delete-button-image {
  height: 30px;
  width: 30px;
}
.fullscreen__image {
  width: 100%;
  max-width: 75vh;
  max-height: 75vh;
  object-fit: cover;
}
.fullscreen__name {
  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 10px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .fullscreen__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 100%;
    padding: 0 100px;
  }

  .fullscreen__delete-button {
    position: absolute;
    top: -40px;
    right: 60px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    transform: rotate(45deg);
  }
  .fullscreen__delete-button-image {
    height: 40px;
    width: 40px;
  }
  .fullscreen__image {
    width: 100%;
    max-width: 75vh;
    height: 75vh;
  }
}
