.header {
  padding: 28px 167px 32px 27px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 126px;
  height: 24px;
  object-fit: cover;
}

@media screen and (min-width: 600px) {
  .header {
    margin: 0 auto;
    width: 100%;
    max-width: 880px;
    justify-content: center;
  }
}
