.header {
  margin-top: 45px;
  background-color: red;
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
}

.header__logo {
  width: 173px;
  height: 33px;
  background-color: yellow;
}
