.overlay {
  display: none;
  pointer-events: none;
}
.overlay_active {
  padding: 0 19px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
}
