.user {
  padding: 0 19px;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user__pic {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: blue;
}

.user__text {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 30px;
  color: white;
}

.user__name {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.user__name-paragraph {
  font-size: 22px;
  font-weight: 500;
}

.user__name-edit {
  width: 18px;
  height: 18px;
  border: 1px solid white;
}

.user__type-paragraph {
  font-size: 14px;
  font-weight: 400;
}

.user__add-button {
  margin-top: 36px;
  width: 100%;
  padding: 17px 0;
  color: white;
  text-align: center;
  border: 1px solid white;
}
